<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">
  <display-name>CARLSBAD webapps</display-name>
  <description>CARLSBAD web applications</description>

  <servlet>
    <servlet-name>carlsbadone</servlet-name>
    <servlet-class>edu.unm.health.biocomp.carlsbad.carlsbadone_servlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param> <param-name>APPNAME</param-name>
      <param-value>CarlsbadOne</param-value> </init-param>
    <init-param> <param-name>UPLOADDIR</param-name>
      <param-value>/tmp</param-value> </init-param>
    <init-param> <param-name>N_MAX</param-name>
      <param-value>100</param-value> </init-param>
    <init-param> <param-name>DBHOST</param-name>
      <param-value>carlsbad.health.unm.edu</param-value> </init-param>
    <init-param> <param-name>DBID</param-name>
      <param-value>carlsbad</param-value> </init-param>
    <init-param> <param-name>DBSCHEMA</param-name>
      <param-value>public</param-value> </init-param>
    <init-param> <param-name>DBPORT</param-name>
      <param-value>5432</param-value> </init-param>
    <init-param> <param-name>DBUSR</param-name>
      <param-value>jjyang</param-value> </init-param>
    <init-param> <param-name>DBPW</param-name>
      <param-value>assword</param-value> </init-param>
    <init-param> <param-name>CYVIEW</param-name>
      <param-value>cyview</param-value> </init-param>
    <init-param> <param-name>HELP_FILE</param-name>
      <param-value>carlsbadone_help.html</param-value> </init-param>
    <init-param> <param-name>SCRATCHDIR</param-name>
      <param-value>scratch</param-value></init-param>
    <init-param> <param-name>DEBUG</param-name>
      <param-value>FALSE</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>carlsbadone</servlet-name>
    <url-pattern>/carlsbadone</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>mol2img</servlet-name>
    <servlet-class>edu.unm.health.biocomp.depict.mol2img_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mol2img</servlet-name>
    <url-pattern>/mol2img</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>cyview</servlet-name>
    <servlet-class>edu.unm.health.biocomp.cytoscape.cyview_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cyview</servlet-name>
    <url-pattern>/cyview</url-pattern>
  </servlet-mapping>

</web-app>
